{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blockbuster</title>
    <link rel="stylesheet" href="{% static 'app/css/estilo.css' %}">
</head>
<body>
    <h1>BLOCKBUSTER</h1>
    <h3>BIENVENIDO A SU TIENDA DE CONFIANZA</h3>
    <a href="{% url 'app:peliculas' %}">Peliculas</a>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas numquam porro nulla adipisci aperiam, ut labore cum in dolore soluta debitis fuga. Quidem quos est sed laboriosam esse deleniti eum!</p>
    <hr>
    <h3>Todos los derechos reservados</h3>
    <script src="{% static 'app/js/index.js' %}"></script>
</body>
</html>