<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peliculas</title>
</head>
<body>
    <h1>Bienvenido a peliculas</h1>
    <table border="1px" width=100%>
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Año</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for p in lista_peliculas %}
            <tr>
                <td>{{ p.nombre }}</td>
                <td>{{ p.year }}</td>
                <td><a href="{% url 'app:pelicula' p.id %}">Ver</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>