<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peliculas</title>
</head>
<body>
    {% if pelicula %}
    <h1>{{ pelicula.nombre }}</h1>
    <h3>{{ pelicula.year }}</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa maxime voluptatibus perspiciatis vitae consequuntur alias officiis non illum, nemo assumenda tempore, veniam doloribus, ducimus placeat voluptate sapiente fugiat quibusdam necessitatibus?</p>
    {% else %}
    <h1>La pelicula solicitada no existe</h1>
    {% endif %}
</body>
</html>