* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

h1 {
    background: blue;
    color: yellow;
    padding: 10px;
    border: 1px solid yellow;
}